{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ category }}</h2>

    <div class="text-center" style="display: flex; flex-wrap: wrap; border-style: outset;">
        {% for listing in listings %}
            <div>
                Title: <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a> <br>
                Description: {{ listing.description }} <br>
                Category: {{ listing.category }} <br>
                Bid: {{ listing.bid }} <br>
                <img src="{{ listing.image }}" alt="" height="300px"> <br>
            </div>
        {% endfor %}
    </div>
{% endblock %}