{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="text-center" style="display: flex; flex-wrap: wrap;">
    {% for listing in listings %}
        <div style="padding: 10px; border-style: outset;">
            <h6><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h6>
            Description: {{ listing.description }} <br>
            Category: {{ listing.category }} <br>
            <h6>Bid: {{ listing.bid }}</h6>
            <img src="{{ listing.image }}" alt="" width="250px" height="auto" > <br>
        </div>
    {% endfor %}
    </div> 
{% endblock %}