{% extends "auctions/layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}    
    <h1>Watchlist</h1>
    {% for w in watchlist %}
    <div>
        Title: <a href="{% url 'listing' w.watching.id %}">{{ w.watching.title }}</a> <br>
        Description: {{ w.watching.description }} <br>
        Category: {{ w.watching.category }} <br>
        Price: {{ w.watching.bid }} <br>
        Image: <img src="{{ w.watching.image }}" alt="" width="500px">  <br>
    </div>
    {% endfor %}
{% endblock %}